<%- partial('../sign/sidebar') %>

<div class="col-md-4">
  <div>
    <div class='inner'>
      <% if(typeof(error) !== 'undefined' && error){ %>
      <div class="alert alert-danger">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong><%= error %></strong>
      </div>
      <% } %>
      <form id='signin_form' class="form" action='/signin' method='post'>
        <div class='form-group'>
          <label for='name'>用户名</label>
          <input class='form-control' id='name' name='name' size='30' type='text'/>
        </div>
        <div class='form-group'>
          <label for='pass'>密码</label>
          <input class='form-control' id='pass' name='pass' size='30' type='password'/>
        </div>
        <input type='hidden' name='_csrf' value='<%= csrf %>'/>

        <div class='form-actions' style="margin-bottom:5px;">
          <input type='submit' class='btn btn-info' value='登录'/ style="margin-right:5px;">
          <a href="/auth/github" class="btn btn-default">通过 GitHub 登录</a>
        </div>
        <div><a id="forgot_password" href='/search_pass'>忘记密码了?</a></div>
      </form>
    </div>
    <hr>
    <div>
      <p><strong>MPush</strong> : 是为程序员开发的记录分享交流编程中所遇到坑的记事本</p>
      <div>MPush开发交流QQ群 : <strong>263940010</strong></div>
      <div>欢迎有兴趣的童鞋一起交流讨论</div>
    </div>
  </div>
</div>


