
<div class="col-md-8" id="content">
    <div class="header">
        <h4 class="clearfix" style="margin-top:0px;">
            快速记录 :
            <div class="form-group input-topic">
                <input id="fTag" type="text" class="form-control" placeholder="选择标签(最多3个), 逗号分隔">
            </div>
        </h4> 
        <textarea id="fContent" class="form-control autoHeight" rows="3"></textarea>
        <div class="clearfix" style="margin-top:10px;">
            <span class="pull-left">
                <label>
                  <input type="checkbox" id="fIsPublic"> 只自己查看
                </label>
            </span>
            <span class="pull-right">
                <a href='/topic/create' style="margin-right:5px;">完整格式</a>
                <a href="" class="btn btn-primary btn-sm" id="fSubmit">记录</a>
            </span>
        </div>
        <div class="showError" id="showError">
          <div class="alert alert-danger err-msg" role="alert">出错了！</div>
        </div>
    </div>
    <h4>最新动态</h4>
    <hr>
    <div class="trend" id="record-container">
        <% if (typeof(topics) !== 'undefined' && topics.length > 0) { %>
        <div class="inner no-padding">
          <%- partial('topic/list', {
          topics: topics,
          pages: pages,
          current_page: current_page,
          base: '/'
          }) %>
        </div>
        <% } else { %>
        <div class="inner">
          <p>无话题</p>
        </div>
        <% } %>
    </div>
</div>

<%- partial('sidebar') %>
<script>
  window.USER = <%- JSON.stringify(current_user) %>
</script>
<script>
  $('#fSubmit').on('click', function() {
    var data = {
      topic_tags: $('#fTag').val(),
      t_content: $('#fContent').val(),
      isPublic: $('#fIsPublic').prop('checked')? 0 : 1
    };
    $.ajax({
      url: '/api/topic/create',
      type: 'post',
      data: data,
      success: function(data) {
        if (data.code == 200) {
          window.location.href = '/topic/' + data._id;
        } else {
          showError(data.info);
        }
      },
      error: function(err) {
        showError(err.msg);
      }
    });
    function showError(msg) {
      $('#showError .err-msg').text(msg);
      $('#showError').css({display:'block'});
      setTimeout(function() {
        $('#showError').css({display:'none'});
      }, 1000);
    };
    return false;
  });
</script>

<%- partial('tpl/topic') %>


