<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- meta -->
  <meta charset="utf-8"/>
  <meta name='description' content='<%= config.description %>'>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <%
  var headers = config.site_headers || [];
  for (var i = 0, l = headers.length; i < l; i++) {
  %>
  <%- headers[i] %>
  <% } %>

  <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss"/>

  <% if (config.site_icon) { %>
  <link rel="icon" href="<%- config.site_icon %>" type="image/x-icon"/>
  <% } %>

  <!-- style -->
  <%- Loader('/public/stylesheets/index.min.css')
  .css('/public/libs/bootstrap/css/bootstrap.css')
  .css('/public/libs/code-prettify/prettify.css')
  .css('/public/stylesheets/responsive.css')
  .css('/public/stylesheets/jquery.atwho.css')
  .css('/public/libs/flexText/jquery.flexText.css')
  .css('/public/stylesheets/main.css')
  .done(assets, config.site_static_host, config.mini_assets)
  %>
  <%- Loader('/public/index.min.js')
  .js('/public/libs/code-prettify/prettify.js')
  .js('/public/libs/jquery-2.1.0.js')
  .js('/public/libs/lodash.compat.js')
  .js('/public/libs/jquery-ujs.js')
  .js('/public/libs/bootstrap/js/bootstrap.js')
  .js('/public/libs/flexText/jquery.flexText.js')
  .js('/public/libs/jquery.caret.js')
  .js('/public/libs/jquery.atwho.js')
  .js('/public/libs/marked.js')
  .js('/public/javascripts/h-reply.js')
  .js('/public/javascripts/jquery.esn.autobrowse.js')
  .js('/public/javascripts/main-new.js')
  .js('/public/javascripts/main.js')
  .js('/public/javascripts/responsive.js')
  .done(assets, config.site_static_host, config.mini_assets)
  %>
  <% if (typeof(topic) !== 'undefined') { %>
  <title><%= topic.title %> - <%= config.name %></title>
  <% } else { %>
  <title><%= config.description %></title>
  <% } %>
  <meta content="_csrf" name="csrf-param">
  <meta content="<%= csrf %>" name="csrf-token">
</head>
<body>
<!-- navbar -->

<div class="navbar navbar-default navbar-static-top">
  <div class="container wrap">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class='navbar-brand' style="padding: 12px 15px;" href='/'><%- config.site_logo || config.name %></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">首页</a></li>

        <li><a href="/topics">全部记录</a></li>
        <li><a href="/profile">我的主页</a></li>
        <%
        var site_navs = config.site_navs || [];
        for (var i = 0, l = site_navs.length; i < l; i++) {
        var nav = site_navs[i];
        %>
        <li><a href="<%- nav[0] %>" target="<%- nav[2] %>"><%- nav[1] %></a></li>
        <% } %>
        <li>

        </li>
      </ul>
      <div class="col-sm-3 col-md-3">
          <form class="navbar-form" action="/search" method="get" role="search" style="padding-left:0;padding-right:0;">
            <input type="text" class="form-control" placeholder="搜索 话题 或 用户" name="keyword" id="keyword">
            <input type="submit" id="search_sub" style="display:none;">
          </form>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if (typeof(current_user) !== 'undefined') { %>
        <li>
          <a href='/my/messages'>
            <% if (typeof(current_user) !== 'undefined' &&
            current_user.messages_count) { %>
                      <span class='badge big messages_count'>
                        <%= current_user.messages_count %>
                      </span>
            <% } %>
            未读消息</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="">
            <img src="<%= current_user.avatar || current_user.avatar_url %>" class="nav-user-pic img-responsive avatar" style="width:18px;height:18px;margin-right:5px;display:inline-block;border-radius:4px;"> <%= current_user.name %> <span class="caret"></span></a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href='/setting'>设置</a></li>
            <li><a href='/signout' data-method="post" rel="nofollow">退出</a></li>
          </ul>
        </li>
        <% } else { %>
        <li><a href='/signup'>注册</a></li>
        <li><a href='/signin'>登录</a></li>
        <% } %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container wrap" id="main"> 
  <div class="row">
    <%- body %>
  </div>  
</div>

<div id='backtotop' class="goup-container"><div class="goup-arrow"></div></div>
<!-- <div id='footer'>
  <div id='footer_main'>
    <div class="links">
      <a class='dark' href='/rss' target="_blank">RSS</a>
      |
      <a class='dark' href='https://github.com/cnodejs/nodeclub/' target="_blank">源码地址</a>
    </div>
    <div class='col_fade'>
      <p>本站服务器的赞助商为<a href="http://www.ucloud.cn/?ref=cnode"><img src="/public/images/ucloud.png" title="UCloud云主机" alt="UCloud云主机" height="28px" width="92px"/></a>
      </p>
    </div>
  </div>
</div> -->
<div id="sidebar-mask"></div>
<script defer>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', '<%=config.google_tracker_id%>', '<%= config.host %>');
  ga('send', 'pageview');

</script>
</body>
</html>
