
<div class="col-md-8" id="content">
    <h4><span style="font-weight:700;">标签 :</span> <%= tag %></h4>
    <hr>
    <div class="trend" id="record-container">
        <% if (typeof(topics) !== 'undefined' && topics.length > 0) { %>
        <div class="inner no-padding">
          <%- partial('topic/list', {
          topics: topics,
          pages: pages,
          current_page: current_page,
          base: '/tags/' + tag
          }) %>
        </div>
        <% } else { %>
        <div class="inner">
          <p>对不起，没有搜索到相关内容，换个关键词试试 ？</p>
        </div>
        <% } %>
    </div>
</div>

<%- partial('sidebar') %>
<script>
  window.USER = <%- JSON.stringify(current_user) %>
</script>

<%- partial('tpl/topic') %>


