

<div id='content' class="col-md-8">
  <div>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href="/user/<%=user.name%>"><%=user.name%>的主页</a></li>
        <li class='active'>参与讨论的记录</li>
      </ul>
    </div>
  </div>
  <div>
    <% if(typeof(topics) !== 'undefined' && topics.length > 0){ %>
    <%- partial('../topic/list',
    {topics:topics,pages:pages,current_pages:current_page,base:'/user/'+user.name+'/replies'}) %>
    <% }else{ %>
    <div class='inner'>
      <p>无话题</p>
    </div>
    <% } %>
  </div>
</div>
<%- partial('../sidebar') %>

